.task-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  height: 490px;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-item .task-inner {
  position: relative;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-direction: column;
  padding: 20px 0px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.task-item .task-inner:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.22);
  border: 1px solid #d4d4d4;
}

.task-item .task-inner .bottom-inner {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
